@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white font-geist;
  }
  * {
    @apply border-neutral-800;
  }
}

@theme {
  --font-geist: "Geist", sans-serif;
  --color-lambda: #839cb2;
  --font-manrope: "Manrope", sans-serif;
}

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Geist.woff2") format("woff2");
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center h-8 px-4 rounded-xl shrink-0 whitespace-nowrap transition-colors gap-2;
  }
  .btn-primary {
    @apply bg-white text-black hover:bg-lambda;
  }
  .btn-border {
    @apply border bg-neutral-900 hover:bg-neutral-800;
  }
  .btn-xl {
    @apply h-12 rounded-2xl;
  }
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../fonts/Manrope.woff2") format("woff2");
}
